<button routerLink="add"  class="mb-1" nz-button nzType="primary">Add</button>
<button (click)="exportToExcel()" nz-button  nzType="primary" ><span nz-icon nzType="diff" nzTheme="outline"></span></button>
<nz-table #basicTable [nzData]="teachers">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>key</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teachers of basicTable.data; let i=index">
        <td> {{ teachers.id}}</td>
        <td>{{teachers.name}}</td>
        <td>{{teachers.age}}</td>
        <td>{{teachers.addrees}}</td>
        <td>{{teachers.key}}</td>

        <td>
          <!-- <a>Action 一 {{data.name}}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a> -->
          <nz-button-group>
            <button nz-button [routerLink]="['edit',teachers.id]"  nzType="primary" ><span nz-icon nzType="edit" ></span></button>
            <button nz-button nzDanger  nzType="primary"><span nz-icon nzType="delete"></span> </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>