.send-request {
    margin-bottom: 16px;
  }

  .send-request span {
    margin-left: 8px;
  }
  thead {
    width: auto;
  }
  // nz-input-group input {
  //   width: 300px;
  // }
//   Responsive Design
@media only screen and (max-width:620px){
thead {
 max-width: 200px;
}
}
.mb-1 {

  margin:10px;;
}