<button  class="mb-1" nz-button nzType="primary">Add</button>
<nz-table #basicTable [nzData]="users">
    <thead>
      <tr>
        <th>Name</th>
        <th>PhoneNumber</th>
        <th>Telegram Username</th>
    <th>Action</th>
    <th><nz-button-group><button (click)="exportToExcel()" nz-button  nzType="primary" ><span nz-icon nzType="diff" nzTheme="outline"></span></button></nz-button-group></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td>{{data.phonenumber}}</td>
        <td>{{data.telegramusername}}</td>
    
        <td>
        <!-- <a>Action 一 {{data.name}}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a> -->
          <nz-button-group>
            <button nz-button  nzType="primary" ><span nz-icon nzType="edit"></span></button>
            <button nz-button nzDanger  nzType="primary"><span nz-icon nzType="delete"></span> </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
